@import url(//fonts.googleapis.com/css?family=Roboto:400,500,700);

body {
  font: 500 16px/22px 'Roboto', 'Helvetica Neue', Helvetica, Arial, Trebuchet, sans-serif !important;
  color: #333;
  -webkit-font-smoothing:antialiased;
  background:#f0f0f0;
  display: block;
  margin: 0px;
}


/* Panel Classes - Mobile */

.panelFrame {
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.12);
	margin-bottom: 8px;
	margin-right: 24px;
}

.smallPanelPad{
	padding: 0px 4px 0px 4px;
}

.smallPanelMobileTop {
	margin-top: 16px;
}

.smallPanel {
	font-weight: 500;
	height: 96px;
}

.smallPanelHeader {
	font-size: 1em;
	border-bottom: 1px solid #CCC;
	padding: 4px 16px 4px 16px;
}

.mediumPanelHeader {
	font-weight: 600;
}

.smallPanelBody {
	font-size: 1.5em;
	padding: 16px 16px 0px 16px;
	text-align: center;
}

.smallPanelMiddleAlign {
	padding: 20px;
}

.smallPanelFoot {
	font-size: 1em;
	padding: 0px 16px 4px 16px;
	text-align: center;
}

.selectList-sm {
	width: 50%;
	min-width: 240px;
	max-width: 256px;
	padding: 8px 16px 8px 16px;
}

.selectList-md {
	width: 50%;
	min-width: 128px;
	max-width: 160px;
	padding: 8px 16px 8px 16px;
}

.selectList-lg {
	display: flex;
	width: 100%;
	padding: 8px 16px 8px 16px;
}


.colorFooterRed {
	color: #FF0000;
}
.colorFooterGreen {
	color: #009900;
}

.ThemeHidden {
    display: none;
}

.panelNoData {
	font-size: 12px;
	font-weight: bold;
	color: #3FB0AC;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, Trebuchet, sans-serif;
}

/* Panel Customs */

.admRefresh {
	float: right;
	padding-top: 4px;
}


#selectClinicComp, #selectDaysDayOfWeek, #selectRptTypeDayOfWeek, #selectDaysTimeOfDay, #selectRptTypeTimeOfDay, #selectWeekdayTimeOfDay, #selectTrending {
	height: 24px;
	padding: 0.15rem 0.25rem;
	line-height: 1.25;
	font-size: 10px;
	-webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
	margin: 0px;
}

#divSelectDaysDayOfWeek, #divSelectDaysTimeOfDay {
	width: 16%;
	min-width: 72px;
	margin-right: 8px;
}

#divSelectRptTypeDayOfWeek, #divSelectRptTypeTimeOfDay
{
	width: 35%;
	margin-right: 8px;
	min-width: 144px;
}

#divSelectTrending
{
	width: 50%;
	margin-right: 8px;
	min-width: 176px;
}

#divSelectWeekdayTimeOfDay {
	width: 18%;
	min-width: 88px;
}