@import url(//fonts.googleapis.com/css?family=Roboto:400,500,700);

body {
  font: 500 16px/22px 'Roboto', 'Helvetica Neue', Helvetica, Arial, Trebuchet, sans-serif !important;
  color: #333;
  -webkit-font-smoothing:antialiased;
  background:#f0f0f0;
  display: block;
  margin: 0px;

}

/* ---- ROD'S INITIAL CSS STYLES  ----- */




/* * * * * * * * * * * * * * * * * * */
/* Override Logi Signal Theme Styles */
/* * * * * * * * * * * * * * * * * * */

/* Override Logi Signal theme GRAY PAGE BACKGROUND with white */
td {
	padding: 0px;
}
ul {
	padding:0px;
}

table {
  border-collapse: collapse;
}

*:focus {
  outline:none;
}


.contentArea {
	top: 152px;
	margin-left: 32px;
}

.ThemeMasterReportLeftFrame {
	width: 15%;
	min-width: 152px;
	display: block;
	bottom: 0;
	position: fixed;
	top:56px;
  	z-index: 1000;

}
.ThemeMasterReportTopFrame {
	display: block;
	height: 56px;
}
.navbar-fixed-top {
	position: fixed; /*--This is just a temp thing --*/
	width: 100%;
	z-index: 1500; /* making sure this is on top of everything */
}

/* These are classes taken from the main themas*/
.ThemeHidden {
    display: none;
}

.ThemeAlignCenter
{
	text-align: center;
}

.ThemeAlignRight {
    text-align: right;
}

.ThemeAlignLeft {
    text-align: left;

}
.ThemeBorderBottom
{
	border-bottom: 1px solid #d8d8d8;
}

.DataCellPad
{
	padding: 8px;
}

.MakeItBig
{
	font-size: 24px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*These are from signal*/



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.panelDetail
{
	min-height: 15vh;
	max-height: 25vh;
	overflow: auto;
}
/* Override Logi Signal theme GRAY TABLE CELL > rdDashboard CLASS BACKGROUND with white */
td.rdDashboard
{
    background-color: inherit;
}

/* Override Logi Signal theme GRAY "GREENBAR" TABLE ROW BACKGROUND (even row numbers) with white */

.rdThemeDataTable tr.ThemeAlternatingRow > td
{
	background-color: #f0f0f0 !important;
}

/* Override Logi Signal theme GRAY DASHBOARD BACKGROUND with white */
#rdDashboardPanelTable
{
	background-color: inherit;
}

.panelBody
{
	padding: 0px;
	margin:0px;

}

/* Override Logi Signal theme TD PADDING (5px left and right) with 0px */
.rdDashboardColumn
{
	padding: 0px;
}

/* Override Logi Signal theme GRAY DASHBOARD DROPZONE BACKGROUND with white AND reduce DROPZONE HEIGHT from 15px to 5px */
.rdDashboardDropZone
{
	background-color: inherit;
	height: 5px;
}

/* Override Logi Signal theme DIV MARGIN (6px top and 18px left and right) with 5px AND BOX SHADOW with None */

/* Override Logi Signal theme FONT SIZE and WEIGHT (24px and Bolder) to 12px and Normal */
.rdDashboardTitleCaption
{
	font-size: 1.25em;
	font-weight: 500;
}

a[id^='ActionRefresh_']
{
	color: #0099cc !important;
	text-decoration: underline !important;


}
.PanelSecondHeaderLabel
{
	font-size: 12px;
	color: #333333;
	font-weight: bold;

}

.NoDetailsToDisplayFormat
{
	font-size: 14px;
	color: #7a7a7a;
}


/* * * * * * * * * * * * * * * * * * */
/*     Custom Application Styles     */
/* * * * * * * * * * * * * * * * * * */
/*
div[id^='rdDataTableDiv-dataTable_']
{
	border-bottom: 1px #e1e1e1 solid;
}
*/


/* Define custom color used to indicate Daily Change Percentage below positive in Number of Patients */
.colorRed
{
	color: #FF3300;
}

/* Define custom color used to indicate Daily Change Percentage above positive in Number of Patients */
.colorGreen
{
	color: #009900;
}

table#rdPopupPanelTable_popupPanel_ActionMenu.rdPopupPanel.dataTableValue
{
	border-width: 0px;
	border-radius: 3px;
	padding: 4px 24px;
}

.popupPanelContainer li
{
	list-style-type: none;
}

.popupPanelContainer li a
{
	text-decoration: none;
}


/* * * * * * * * * * * * * * * * * * */
/*   Popup Report 					 */
/* * * * * * * * * * * * * * * * * * */

#PopupPanelContent
{
	position: relative;
	padding: 8px;
}

.PopupCloseButton
{
	font-size:22px;
	padding-right: 16px;
  	font-weight:700;

}

.rdPopupPanel
{
	background-color: #FFFFFF;
	border-radius: 3px;
}

.rdPopupPanelTitle
{
	padding: 5px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #d8d8d8;

}

#rdPopupPanelColumn_rdPopupTitleID
{
	border-bottom-style: none;
}

.rdPopupPanelTitleCaption
{
	font-size: 16px;
	color: #333333;
	border-bottom-style: none;
	background-color: #FFFFFF;
	font-weight: 600;
}

.PopupDataTableHeader
{
 	background-color: #FFFFFF;
 	font-size: 14px;
	color: #666666;
 	border-bottom: 1px solid #d8d8d8;

}

.PopupDataTableHeader > a
{
	color: #000000 !important;
	text-decoration: none !important;
}

.PopupDataTable
{
	border: 1px solid #d8d8d8;
	border-radius: 3px;
	background-color: #FFFFFF;
	font-size: 14px;
	color: #333333;
	border-spacing: 0px !important;
}

.PopupDataTable tr:nth-child(odd)
{
	background-color:  #f0f0f0;
}

.PopupDataTable tr:hover
{
	background-color: #e8e8e8;
	color: #333333;
}

.PopupRightCornerBottom
{
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.PopupButtonFormat
{
  background-color: #FFFFFF;
  /*border: 1px solid #006699;*/
  border-radius: 3px;
  font-size: 14px;
  color: #006699;
  font-weight: 600;
  padding: 7px 32px;
  transition: all 0.3s ease;
  box-shadow: none !important;
}
.PopupButton:hover
{
	background-color: #006699;
 	color: #FFFFFF;
	transition: all 0.3s ease;
}
.PopoutDataTableDiv
{
	padding-bottom: 0px;
}
.PopupFooter
{
	font-size: 14px;
	color: #333333;
	padding-top: 8px;
	padding-bottom: 16px; /*This is to make room for the export button*/
	text-align: left;
}

.PopupDataTableRow
{
	border-bottom-color: #d8d8d8 !important;
	border-bottom-style: solid !important;
	border-bottom-width: 1px !important;
	border-spacing: 1px;
}

/* * * * * * * * * * * * * * * * * * */
/*   Home Dashboard Styles    */
/* * * * * * * * * * * * * * * * * * */


.DetailColumnHeaderRow
{
  color: #333333 ;
  font-weight: 600;
  background:#e9e9e9;
  padding:8px;
}

td.rdDashboardTitle
{
	background-color: White;
	border-bottom: 2px #e1e1e1 solid !important;
	padding: 4px 0px 4px 8px;
}


table[id^='dataTable_'][id$="_Summary"]
{
	border-bottom: 1px #d8d8d8 solid;
	height: 40px;
}

#dataTable_WaitingRoomTimes_Summary
{
	border-bottom-width: 0px;
}

table[id^='dataTable_'] tr td
{
	padding: 0px 8px 0px 8px !important;*/
}

.dataTableValue tr:nth-child(even)
{
	background-color: #ECEDEE !important;
}


/* Add custom border below dashboard panel titles */
.panelTitle
{
	border-bottom: 1px #e1e1e1 solid !important;
}

/* Add custom border around dashboard panels */
.rdDashboardPanel {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
/* * * * * * * * * * * * * * * * * * */
/*  Custom Action Menu for Panel     */
/* * * * * * * * * * * * * * * * * * */

.CustomPanelActionMenu
{
	Background-color: #FFFFFF;
 	Border:none;
 	Border-radius: 3px;
	Padding 4px 24px ;
}

#dataList_ActionMenu > li > a
{
	text-decoration: none !important;
	color:  #333333 !important;
}


/* * * * * * * * * * * * * * * * * * */
/*  EmployeeStats Dashboard Styles   */
/* * * * * * * * * * * * * * * * * * */

.statsTableDataContainer
{
}

.statsTableDataRow
{
	border-bottom: 1px #e1e1e1 solid;
}

.statsTableDataRow:last-child
{
	border-bottom-width: 0px;
}

.statsTableDataColumn
{
	display: inline-block;
}

.statsTableDataColumn_2-Column
{
	width: 50%;
}

.statsTableDataColumn_3-Column
{
	width: 33%;
	border-right: 1px #e1e1e1 solid;
}

.statsTableDataColumn_3-Column:last-child
{
	border-right-width: 0px;
}

.statsTableDataCellCaption
{
	padding: 25px 25px 0px 25px;
}

.statsTableDataCellValue
{
	padding: 0px 25px 25px 25px;
}
.PageHeaderOfReport
{
	font-size: 60px;
	font-weight: 500;
	color: Chocolate;
}

#dataList_ActionMenu_Filter li {
    padding: 5px 0px 0px;
}
.PopupCaption
{
	font-weight: bold;
	padding-right:5px;
}


/* -----  END ROD'S EDITS  ---- */



/*-- NEW HEADER SETTINGS --*/
/*-- HERE LIES BOUALOM'S HACKY CSS --*/
@media ( max-width: 450px ) {
	.leftMenuMobile {
		width: 60vw;
	}
}

@media ( min-width: 451px ) and ( max-width: 768px ) {
	.leftMenuMobile {
		width: 50vw;
	}
}

@media ( min-width: 769px ) {
	.leftMenuMobile {
		width: 40vw;
	}
}

.leftMenuMobile {
	position: fixed;
	background-color: #36464e;
    display: block;
	z-index: 9000;
	height: 100%;
}

.leafMobile {
	font-size: 1.25em;
	height: 40px;
	background-color: transparent !important;
	color: #FFFFFF !important;
	padding: 22px;
	width: 100%;
}

.leafLogout {
	position: fixed;
	bottom: 40px;
}

.leafLoggedIn {
	font-size: .5em;
}

.rd-gridsystem-scrollbar-wrap {
	display: -webkit-flex;
	flex-direction: row;
}

.filterMobile {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
}

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.btnMobile {
	width: calc(100% - 113.15px);
	text-align: left;
	margin-right: 0px !important;
	margin-left: 14px !important;
	font-size: 18px;
	box-shadow: none;
	border-radius: 0px !important;
	margin-left: 0px !important;
	padding-left: 21px !important;
}

.btnMobileThroughput {
	width: 100%;
	text-align: left;
	margin-right: 0px !important;
	margin-left: 14px !important;
	font-size: 16px;
	box-shadow: none;
	border-radius: 0px !important;
	margin-left: 0px !important;
	padding-left: 21px !important;
}

#ppAddPanelsDone {
	padding: 8px;	
}

#btnFilterMobile.btnFilterMobile {
	background-color: #FFF !important;
	background-image: url('icon-dropdown.png');
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background-size: 4%;
	height: 100%;
	width: 70vw;
	border: none;
	line-height: 8px;
}

#btnFilterMobile.btnFilterMobileThroughput {
	background-color: #FFF !important;
	background-image: url('icon-dropdown.png');
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background-size: auto;
	height: 100%;
	width: 100%;
	border: none;
	line-height: 8px;
}


div#divFilter {
    float: right;
	position: relative;
	-webkit-justify-content: flex-end;
    justify-content: flex-end;

}

#FilterMagic {
	background-image: url('icon-dropdown.png');
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background-size: 15%;
}

div#divLogout {
	float: right;
	position: relative;
	-webkit-align-items: flex-end;
	align-items: flex-end;

}

div#divUserNamelbl {
	float: right;
	position: relative;
	margin-right: 16px;
	-webkit-justify-content: flex-end;
   	justify-content: flex-end;
}

div#HamburgerMenuImage {
    float: left;
    margin: 8px 16px;
}

div#HamburgerMenuImageMobile {
	float: left;
	margin: 8px 16px 4px 16px;
}

div#DivDocutapLabel:after {
    clear: both;
}

div#DivDocutapLabel {
    float: left;
    position: relative;
}

.divAppTitleMobile {
	float: left;
    position: relative;
	padding-top: 3px;
	font-size: 1.25em;
}

td#TopFrame {
    padding: 0px;
    background-color: #FFF;
}


div#divFilterPanel {
	width: 18%;
	box-sizing: border-box;
	z-index: 9001;
	position: relative;
}

.dropdown-panel {
	color: #363B42;
	border-spacing: 2px;
	border-color: Grey;
	border-radius: 3px;
	border: 1px solid #CCC;
	background: #FFFFFF;
	display: block;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
	padding: 24px 24px;
}

.filterButtonContainer {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
   	justify-content: space-between;
	flex-flow: row wrap;
}

/* have to set the button color and hover action by id selector.
If specificality isn't higher than the default Signal theme, Signal css will override
Yes...really hacky and abuse of !important keyword*/

input#btnAddPanel, input#btnApplyFilter {
	color: #FFFFFF !important;
	background-color: #304FFE !important;
	border: 0px solid !important;
	font-size: inherit;
}

input#btnAddPanelMobile {
	color: #FFFFFF !important;
	background-color: #304FFE !important;
	border: none;
	border-radius: 0px !important;
	-webkit-appearance: none;
	margin: 0px !important;
	box-shadow: none;
	width: 30vw;
	height: 100%;
	font-size: inherit;
	position: absolute;
	top: 0px;
}

input#FilterMagic, input#btnLogOut {
	box-shadow: none;
	background-color: #FFF;
	font-size: inherit;
	padding: 8px 32px;
}

input#btnAddPanel:hover, input#btnAddPanelMobile:hover, input#btnApplyFilter:hover {
	background-color:#2B4CD8 !important;
  	transition: all 0.3s ease;	
}

input#btnApplyFilter, input#btnResetFilter {
	margin: 0px; /*hack to suppress default Signal theme margins*/
	font-size: inherit;
	padding: 8px 24px;
}

.rd-checkboxlist-dropdown, input#TransDate {
	border-radius: 3px; /* rounded corners */
	border: 1px solid #CCC;
	box-shadow: none;
}

input#TransDate {
	font-family: inherit;
	margin: 0px;
	padding: 4px;
}

.rd-checkboxlist-icon {
	background-repeat: no-repeat;
	background-size: 75%;
	background-position: center center;
}

.ActionButton {
	color: #FFFFFF !important;
	background-color: #304FFE !important;
	border: 0px solid !important;
}

.ActionButton:hover {
	background-color:#2B4CD8 !important;
  	transition: all 0.3s ease;	
}

div#divBanner {
    position: relative;
	background-color: #FFF;
	width: 100%;
	height: 100%;
}

td#LeftFrame {
	background-color: #36464e;
}

#LeftFrame .ThemeMenuItemLink:hover {
    background-color: #0066FF /*SideHoverBackground*/ !important;
    color: #FFFFFF /*SideFont*/ !important;
}

div#divFooterExports {
	clear: both;
	overflow: hidden;
}

.flexContainer {
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row; /* works with row or column */
	flex-direction: row;
	-webkit-align-items: center;
   	align-items: center;
	-webkit-justify-content: space-between;
   	justify-content: space-between;
	flex-flow: row wrap;
}
.flexHeaderLeft {
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
   	align-items: center;
}

.flexHeaderRight {
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
   	align-items: center;
}

img[id^="rdPanelSettingsCog"] {
	height: 32px;
	width: 32px;
}

a.yuimenuitemlabel {
	padding: 2px 16px !important;
}

th.ThemeHidden {
	height: 0px !important;
}

label.footerLabel {
	font-weight: 500;
	font-size: 14px;
	margin-right: 16px;
}

div#ppChangeDashboard {
	overflow: auto !important;
	top: -10vh !important;
	left: 12vw !important;
}

.noScroll {
	overflow: hidden;
}

/*-- HERE ENDS BOUALOM'S SHAME --*/


/*------  END NEW HEADER SETTINGS   ------*/


/*--Header settings--*/

td .ThemeMasterReportTopFrame {
  background-color: rgba(255,255,255, 0.93);
  border-bottom: 1px solid #CCC;
}

.ThemeHeaderLarge {
	font-size: 1.825em;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
}

.ThemeMasterReportTopFont, .ThemeMasterReportTopFrame a {
  color: #333;
}

span.headerMobile {
	padding: 0px 0px !important;
}

div.container-fluid {
  padding: 0px 0px;
}

#LeftFrame .ThemeMenuItemLink span, #LeftFrame .ThemeMenuItemLink {
  height: 40px;
  font-size: 16px;
  padding: 10px 16px;
}

table#rdMenuTable {
  margin-top: 16px;
}

#rcLeftMenuCol {
	min-height: 0px;
}


/*-- Setting padding around MAIN CARD HEADER --*/

label#rdDashboardCaptionID .rdDashboardTitleCaption {
  font-size:18px;
  font-weight:500;
  -webkit-font-smoothing:antialiased;
}

/*-- Table Header styling --*/

div#divDetailHeaderRow {
  border-bottom: 1px solid #d8d8d8;
  padding-top: 8px 0;
}

table[id^='dataTable_'] tbody tr {
  height: 32px;
}

/*-- Link color change --*/

a[id^='ActionRefresh_'] {
  color:#06F;
}


/*---  Main cards styling  --- */

.rdDashboardPanel {
  margin-right: 24px;
  margin-bottom: 16px;
}


.rdDashboardPanel, .rdDashboardPanel > table {
  border-radius: 3px;

}

/* --- Inner card/table styles --- */

.PanelSecondHeader
{
	font-size: 1.75em;
	color: #333333;
	font-weight: 400;
	letter-spacing: .02em;
    -webkit-font-smoothing: antialiased;
}

.rdDashboardTitle .rdDashboardControl {
  padding: 0px;
  vertical-align: top;
}

.rdThemeDataTableCell {
  background-color: transparent;
}

/* --- HIDING THE DAMBURGER

div#HamburgerMenuImage {
  display: none;
}

--- */

/* --- end  --- */

td#ContentFrame {
  width: 85%;
  min-width: calc(100% - 152px);
  top: 80px;
  position: relative;}

  a[id^='ActionRefresh_']
{
	color: #06F !important;
	text-decoration: underline !important;

}

span.dashboardHeader {
    font-size: 1.5em;
    font-weight: 600;
}

.rdThemeDataTable, .rdAgDataTable, .rdOgOlapTable, .rdDgOlapTable {
  background-color:#FFF;
}

#rdDashboardPanelTable, #rdDivDashboardPanelTable, .rdDashboardDropZone {
  background-color:inherit;
}

input[type="button"] {
   padding: 8px 16px;
   margin:0px 24px 0px 0px;
   border-color: #CCC !important;
}

.ThemeLinkButton, .ThemeLinkButtonSmall, .rdAgCommand, .rdOgCommand, .rdAcCommand, span.rdCgCommand, .rdDashboardCommand, input[type="button"] {
  color: #333 !important;
  font-weight: 500;
  background-image: none;
  background-color: #FFF !important;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: baseline;
  border: 1px solid #CCC;
  transition: all 0.3s ease;
}

.rdPreviewHoverState, .rdPreviewHoverState:hover, .ThemeLinkButton:hover, .ThemeLinkButtonSmall:hover, span:hover.rdAgCommand, span:hover.rdAcCommand, span:hover.rdOgCommand, span:hover.rdCgCommand, span:hover.rdDashboardCommand, #rowChangeTab span:hover.rdDashboardCommand, span:hover.rdPopupPanelCommand, .rdAgUnselectedTab:hover, .rdOgUnselectedTab:hover, input[type="button"]:hover {
  background-color:#e9e9e9 !important;
  color: #000 !important;
  transition: all 0.3s ease;
}

#rdSettingsCog{
    z-index: 100;
    float: right;
    position: relative;
}

/* ----  Popup menu styling  ---  */

.yuimenu {
  padding: 0 !important; /* 1px */
  border-radius: 3px;
  border: none !important;
  border-color: none !important;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 12px rgba(0,0,0,0.32) !important;
}

.rdPreviewMenu, .yuimenu ul {
  background: #FFF !important;
  padding: 0px !important;
}

.yuimenu ul li {
  background: #FFF !important;
}

.first-of-type li a:hover {
  color: #000 !important;
  background-color: #e9e9e9 !important;
  text-decoration: none;
}

a:visited {
  color: #333 !important;
}

.rdPopupMenu A:visited, .rdPopupMenu A:link {
  color: #333 !important;
}

div#ppMenu1_rdPopup {
  left: -89px !important;
}

.rdPopupMenu .yuimenuitemlabel {
  font-size: 14px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

#divEmptyBox {
	height: 40px;
}

/* ---- Popup Continue Session ----*/

#lblContinueSession {
	color: #FFFFFF !important;
}

#actContinueSession {
	background-color: #304FFE !important;
}

#actContinueSession:hover {
	background-color: #2B4CD8 !important;
}


/* ----  End Popup Menu  ---  */



/* ----  MODAL LIGHTBOX POPUP  ---  */

div#Popup_VisitTimes_rdModalShade {
    opacity: 0.65;
}

div#Popup_VisitTimes {
    left: -6vw !important;
    top: -6vh !important;
}

div#Popup_NumberOfPatients {
    left: -6vw !important;
    top: -6vh !important;
}

.rdThemePagingCurrent {
  background-color: #e5e5e5 !important;
  font-size:100%;
  padding: 2px 9px;
  font-weight:700;
  border-radius:50%;
}

table#DataTable_NumberPatientsDetail {
  width: 96%;
  margin: 16px auto;
}

input#Button_PrintNumberOfPatients {
    margin-bottom: 16px;
    margin-right: 24px;

}

div#divContentFrame {
	padding-left: 24px;
}
/* Individual panel modifications - *+*BoualomPanels */
.FirstColumnHeader {
	text-align: left !important;
}

.NextColumnHeaderLeft {
	text-align: left;
}

.NextColumnHeaderRight {
	text-align: right;
}

.LastPanelHeader {
	padding-right: 18px;
}

.panelInnerTable {
	table-layout: fixed;
}

.rdThemeDataTableHeader {
  color: #333333;
  background-color: #e9e9e9;
  border-bottom: 1px solid #d8d8d8;
  padding: 8px !important;
  text-align: left;
}

.dataTableValue
{
	color: #333333;
	width: 100%;
	font-weight: 500;
  	-webkit-font-smoothing: antialiased;
}

table {
	font-size: 98% important;
}

.divPaddingTop {
	padding-top: 40px;
}
/* MTD Collections Panel */
td[id^="colPatient_"], td[id^="colInsurance_"], td[id^="colEmployer_"], td[id^="colAMT_"] {
	text-align: right;
}

th[id^="colPatient-"], th[id^="colInsurance-"], th[id^="colEmployer-"], th[id^="colAMT-"] {
	text-align: right;
}
/* --MTD Collections Panel-- */

/* Number of Patients Panel */
td[id^="colVisitType_NumberOfPatients_"] {
	width: 50%;
}

td[id^="colTypeTotal_NumberOfPatients_"], td[id^="colPercentOfTotal_NumberOfPatients_"] {
	width: 25%;
}
/* --Number of Patients Panel-- */

/* Door-to-Door Times + Waiting Room Times */
td[id^="colDoorToDoorTimeFrame_"], td[id^="colWaitingRoomTimeFrame_"] {
	width: 50%;
}

td[id^="colDoortoDoorTime_"], td[id^="colWaitingRoomTime_"], td[id^="colAvgvsToday_"] {
	width: 25%;
}

/* --Door-to-Door Times + Waiting Room Times-- */