Body
{
	margin: 0px;
	padding: 0px;
}
.ExportPageHeader
{
	padding: 0px;
	margin: 0px;
	
}
.DataCellPad
{
	padding: 6px 8px 6px 8px;
}

.row
{
	margin-left:0px;
	margin-right:0px;
}
.HeaderReport
{
	background-color:#e8e8e8;
	vertical-align: text-bottom;
	border: 1px solid #d8d8d8;
	padding: 0px;
	
}
.HeaderMainCaption
{
	font-size: 16px;
	font-weight: 500;
	color: #000000;
	vertical-align: sub;
	
}
.HeaderPrintCaption
{
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	padding: 0px 32px;
	vertical-align: middle;
}

.ShowMeTheHight
{
	/*height: 64px;*/
	padding: 32px 0px 16px 32px;
	
}
.PopupDataTable
{
}

.PopupDataTableHeader
{
	font-size: 12px;
	font-weight: 600;
	color: #000000;
	padding-bottom: 6px;
	padding-top: 6px;
}

.PopupDataTableRow
{
	font-weight: 400;
	font-size: 12px;
	color: #000000;
	padding-bottom: 6px;
	padding-top: 6px;
	background: #FFFFFF;
}

.PopupDataTable tr:nth-child(even)
{
	background-color:  #e8e8e8;
}
.PopupDataTable tr:nth-child(odd)
{
	background-color:  #FFFFFF;
}
.PopoutDataTableDiv
{
	/*border-right: 1px solid #d8d8d8; 
	border-left: 1px solid #d8d8d8;*/
	padding: 0px 32px 24px 32px;
}
.FooterReport
{

	border-top: 1px solid #d8d8d8;
	/*padding: 16px 32px 24px 32px;*/
	padding: 0px;
}
.FooterReportPadding
{
	padding: 16px 32px 0px 32px;
}
.FooterCaptionMain
{
	font-size: 12px;
	color: #000000;
	text-align: left;
}
.FooterCaptionPageCount
{
	font-size: 12px;
	color: #000000;
	text-align: right;
	vertical-align: middle;
}
